/* Navigation */
#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 5px;
}

/* Home section */
#home {
    height: 300px;
    padding: 3px 60px;
}

#home::before {
    height: 400px;
}

#home p {
    font-size: 13px;

}


/* Services Section */
#services {
    flex-direction: column;
}

#services .box {}



/* Client Section */
#clients {
    flex-wrap: wrap;
}
#clients img{
    width: 60px;
    padding: 3px;
    height: auto;
}


/* Contact Us Section */
#contact-box form{
    width: 80%;
}



/* Footer */



/* Utility Classes */
.h-primary {
    font-size: 26px;
}

.btn{
 font-size: 13px;
 padding: 4px 8px;
}